@use 'variaveis';

.entrada{
    background-image: linear-gradient(to bottom, #8fd3f4 20%, #330867 100%);
    padding: 40px 0;
    overflow-x: hidden;

    .container{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;

    }

    &__image{
        max-width: 360px;
    }

    &__text{
        color: variaveis.$corDaFont;
    }

    @media (max-width:640px){

        .container{
            display: block;
        }

        &__image{
            max-width: 100%;
            margin-bottom: 24px;
        }

    }
}